body {
  background: darkolivegreen url("sunrise.png") no-repeat fixed center;
  background-size: 90% 90%;
  height: 100%;
}
html {
  background-color: rgb(0, 0, 0);
}

#border{
  border: 2px black;
  background-color: rgb(47, 70, 45);
  padding: 10px;
  border-radius: 25px;
  width: 880px;
  margin: 10px auto;
  padding-top: 30px;
}

#currentStory {
  display:block;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(212, 239, 223  );
  padding:15px;
  margin-bottom: 20px;
  margin-right: 14px;
  margin-left: 14px;
}

select {
  width: 95%;
  font-size: 20px;
  background-color: rgb(212, 239, 223  );
  padding-top: 0px;
  margin-top: 2px;
  margin-bottom: 9px;
  margin-right: 19px;
  margin-left: 19px;
}

button {
  width: 95%;
  height: 90px;
  font-size: 20px;
  background-color: rgb(212, 239, 223  );
  margin-top: 2px;
  margin-bottom: 9px;
  margin-right: 19px;
  margin-left: 19px;
}

#button1:hover {
  background-color:skyblue;
  color:white;
}

select#choices:hover {
  background-color: skyblue;
  color: white;
}

#storybox {
  text-align: center;
  float: left;
  width: 410px;
}

#currentStory {
  width: 410px;
  margin-left: 420px;
}